// import normalize.css
@import "normalize/import-now";

@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

$font-heading: 'Sedgwick Ave Display', cursive;
$font-stack: Helvetica, sans-serif;

html {
  font-size: 10px;
  font-family: 'helvetica neue', Helvetica, sans-serif;
  
  body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background: url('https://res.cloudinary.com/avolition/image/upload/c_scale,f_auto,q_auto:low,w_1920/v1508128564/Backgrounds/_TechnoLandscape.jpg');
    
    #root {
      width: 1100px;
      display: flex;
      justify-content: center;
    
      .app {
        width: 100%;
        display: flex;
        justify-content: center;

        main {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;

          header {

            .header {
            font-family: $font-heading;
            color: red;
            font-size: 12rem;
            margin: 2rem 0 0 0;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px red, 0 0 35px red, 0 0 40px red, 0 0 50px red, 0 0 75px red;
            }
          } // header

          section {
            width: 100%;
            display: flex;
            justify-content: space;
            
            aside {
              text-align: center;
              font-size: 2.5rem;

              ul {
                h6 {
                  color: white;
                  text-shadow: 0 0 15px dodgerblue, 0 0 20px dodgerblue;
                  margin: 1rem 0;
                  font-size: 1.6rem;
                }
                li {
                  list-style: none;
                  padding: 0;

                }
              }
              
              .categories,
              .sortByList {
                list-style: none;
                padding: 0;
                flex-direction: column;
                color: blue;
                text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px dodgerblue, 0 0 15px dodgerblue, 0 0 20px dodgerblue, 0 0 25px dodgerblue;
                text-align: center;

                .category,
                .sortByField {
                  padding: 1rem;
                  background-color: rgba(0,0,0,0.2);
                  align-self: center;
                  cursor: pointer;

                  &:hover {
                    color: blue;
                    background-color: rgba(255,255,255,0.2);
                  }
                  &.active {
                    background-color: rgba(255,255,255,0.2);
                  }
                }
                a {
                  text-decoration: none;
                  &:visited {
                    color:inherit;
                  }
                }
              }
            } // aside

            .comments-wrapper {
              margin: none;
            }

            .posts,
            .comments {
              list-style: none;
              flex: 5;
              padding: 0;

              .post,
              .comment {
                margin: 5px;
                font-size: 2rem;
                padding: 1rem;
                background-color: rgba(0,0,0,0.5);
                display: flex;

                div {
                  &.rank-vote {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    font-size: 3rem;
                    color: white;

                    span {
                      padding: 0 1rem;
                    }

                    .rank {
                      color: white;
                      text-shadow: 0 0 15px dodgerblue, 0 0 20px dodgerblue;
                    }

                    .score {
                      color: white;
                    }
                  }

                  &.post-title {
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 1.5rem;
                    color: grey;

                    a {
                      text-decoration: none;
                      margin-bottom: 5px;

                      .title {
                        font-size: 2rem;
                        color: white;
                        text-shadow: 0 0 15px dodgerblue, 0 0 20px dodgerblue;
                      }
                    }
                  }
                }

                &:hover {
                  background-color: rgba(255,255,255,0.2);
                }
                &.active {
                  background-color: rgba(255,255,255,0.2);
                }
              }
              .comment {
                font-size: 1rem;
                margin: 0;

                div.rank-vote > .vote,
                div.rank-vote > .score {
                  font-size: 2rem;
                }
                .comment-all {
                  flex: 5;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  font-size: 1.5rem;
                  color: grey;
                  
                  span.comment-body {
                    color: white;
                  }
                }
              }

              .noData {
                text-align: center;
                font-size: 2rem;
                padding: 1rem;
                color: white;
              }
            } // ul.posts

            form {
              display: flex;
              flex: 5;
              padding: 0;
              justify-content: center;
              flex-direction: column;
              background-color: rgba(0,0,0,0.5);
              font-size: 2rem;
              color: white;
              padding: 5rem;
              margin-left: 5px;

              textarea {
                height: 100px;
              }

              select,
              button {
                width: 100px;
                text-align: center;
              }

              div {
                display: flex;
                flex-direction: column;
              }

              label {
                margin-left: 1rem;
                text-shadow: 0 0 15px dodgerblue, 0 0 20px dodgerblue;
              }
              select,
              input,
              textarea {
                margin: 1rem;
                color: white;
                background-color: rgba(255,255,255,0.2);
              }

              select,
              button {
                width: 200px;
                text-align: center;
              }
              input {
                width: 50%;
              }
              textarea {
                height: 300px;
              }
              button {
                align-self: center;

                &.delete-button {
                  color: red;
                  align-self: flex-end;
                }
              }

              &.comment-form {
                font-size: 1.5rem;
                padding: 1rem;
                
                textarea {
                  min-height: 100px;
                }

                .comment-button {
                  min-height: 30px;
                }

              }
            } // form

            .single-view {
              display: flex;
              flex: 5;
              padding: 0;
              justify-content: top;
              flex-direction: column;
              background-color: rgba(0,0,0,0.5);
              font-size: 2rem;
              color: white;
              margin-left: 5px;

              .posts {
                flex: 0;
                margin: 0;
              }
              .post-body {
                display: flex;
                margin-left: 2rem;
              }
            }

          } // section
        } // main
      }
    }
  }
}